#errorCatcher Echo
## amphibian for weewx - Copyright 2012-2013 Matthew Wall
#encoding UTF-8
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head profile="http://www.w3.org/2005/10/profile">
    <!-- amphibian for weewx - Copyright Matthew Wall -->
    #if $encoding == 'utf8'
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    #end if    
    <title>$station.location Monthly Weather Summary</title>
    <link rel="stylesheet" type="text/css" href="amphibian.css"/>
    <link rel="icon" type="image/png" href="favicon.ico" />
  </head>

  <body>
    #include $Extras.header

    <div id='charts'>
      <div>
        <div class='bordered cell graph' style='clear:both'>
          <div class='leftCell'>Temperature and Dew Point</div><div class='units'>$unit.label.outTemp</div>
          <div><img src='monthinouttempdew.png'/></div>
        </div>
        <div class='bordered cell graph'>
          <div class='leftCell'>Wind Chill / Heat Index</div><div class='units'>$unit.label.outTemp</div>
          <div><img src='monthtempchill.png'/></div>
        </div>
        <div class='bordered cell graph'>
          <div class='leftCell'>Humidity</div><div class='units'>$unit.label.outHumidity</div>
          <div><img src='monthinouthum.png'/></div>
        </div>
        <div class='bordered cell graph'>
          <div class='leftCell'>Pressure</div><div class='units'>$unit.label.barometer</div>
          <div><img src='monthbarometer.png'/></div>
        </div>
      </div>
      <div>
        <div class='bordered cell graph' style='clear:both'>
          <div class='leftCell'>Wind and Gusts</div><div class='units'>$unit.label.windSpeed</div>
          <div><img src='monthwind.png'/></div>
        </div>
        <div class='bordered cell graph'>
          <div class='leftCell'>Wind Direction</div>
          <div><img src='monthwinddir.png'/></div>
        </div>
        <div class='bordered cell graph'>
          <div class='leftCell'>Wind Vector</div>
          <div><img src='monthwindvec.png'/></div>
        </div>
      </div>
      <div>
        <div class='bordered cell graph' style='clear:both'>
          <div class='leftCell'>Rain</div><div class='units'>$unit.label.rain</div>
          <div><img src='monthrain.png'/></div>
        </div>
      </div>
#if $month.radiation.has_data
      <div>
        <div class='bordered cell graph' style='clear:both'>
          <div class='leftCell'>Solar Radiation</div><div class='units'>$unit.label.radiation</div>
          <div><img src='monthradiation.png'/></div>
        </div>
      </div>
#end if
    </div>

    #include $Extras.footer

    <script>
      document.getElementById('30days').className += ' selected';
      document.getElementById('button-charts').className += ' selected';
    </script>
  </body>
</html>
